<mat-card>
    <mat-card-header class="a">
        <mat-card-title class="t">Change Status</mat-card-title>
    </mat-card-header>
    <mat-card-content class="al">
        <mat-card-title  class="tu">Name:{{data.username}}</mat-card-title>
        <mat-card-title  class="tu">Email:{{data.email}}</mat-card-title>
        <mat-card-title  class="tu">Status:{{data.status}}</mat-card-title>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
        <button mat-button style="background-color: rgb(16, 5, 143); color:white;" (click)="status()">Change Status</button>
        <button mat-button style="background-color: brown; color:white;" (click)="closeDialog()">Cancel</button>
    </mat-card-actions>
</mat-card>