<mat-toolbar class="mat-elevation-z8">
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    Responsive side navigation
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <img
        class="avatar mat-elevation-z8"
        src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
      />
  
      <h4 class="name">{{user.username!}}</h4>
      <p class="designation">{{user.email!}}</p>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" routerLink="2">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button at-menu-item [matMenuTriggerFor]="subMenu" mat-button class="menu-button">
        <mat-icon>important_devices</mat-icon>
        <span>Views
          <mat-menu #subMenu="matMenu">
            <mat-list-item>
            <button mat-menu-item routerLink="sensores"><mat-icon mat-list-icon>widgets</mat-icon>Datos Sensores</button>
            <button mat-menu-item routerLink="vistas"><mat-icon mat-list-icon>person</mat-icon>Usuarios</button>
            <button mat-menu-item routerLink="mongo"><mat-icon mat-list-icon>directions_car</mat-icon>Carrito</button>
            </mat-list-item>
          </mat-menu>
        </span>
      </button>
      <button mat-button class="menu-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>