<div class="button-container">
<img src="assets/control.webp" alt="control">
    <a mat-icon-button class="a" (click)="Adelante(movil._id)"></a>
    <a mat-icon-button class="b" (click)="Reversa(movil._id)"></a>
    <a mat-icon-button class="c" (click)="Izquierda(movil._id)"></a>
    <a mat-icon-button class="d" (click)="Derecha(movil._id)"></a>
    <a mat-icon-button class="e" ><mat-icon>wb_incandescent</mat-icon></a>
    <a mat-icon-button class="f" (click)="Stop(movil._id)"><mat-icon>power_settings_new</mat-icon></a>
    <a mat-icon-button class="g"  (click)="regresar()" ><mat-icon>chevron_left</mat-icon></a>
    <a mat-icon-button class="h"  (click)="mover()" ><mat-icon>chevron_right</mat-icon></a>
</div>
