<div class="main-div">
    <mat-card>
        <mat-card-header>
            <img @rotate src="assets/azul.png" width="250" height="250" alt="">
        </mat-card-header>
        <mat-card-content>
            <mat-card-title>Miguel Angel Castro Vaquera - 19170023</mat-card-title><br>
            <mat-card-title>Pedro Arturo De Santiago Mijares - 19170057</mat-card-title><br>
            <mat-card-title>Maria Fernanda Murillo Candela - 19170165</mat-card-title><br>
            <mat-card-title>Victor Miguel Basurto Juarez - 20170045</mat-card-title><br>

        </mat-card-content>
    </mat-card>
</div>